.jaduimenubarkaupar {
  display: flex;
  justify-content: center;
  bottom: 30px;
  z-index: 3;
  position: fixed;
}

.jaduimenubar {
  background: rgb(110, 110, 203);
  padding: 5px;
  border-radius: 5px;
  width: auto;
  background: rgba(0, 0, 0, 0.750);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.dibbekadibba{
    border-width: 2px;
    border-color: rgb(59, 59, 70);
    border-radius: 9px;
    margin: 2px;
    background-color: rgba(244, 244, 244, 0.085);
    color: rgb(189, 189, 189);
}
