.flare {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999999!important;
    background-color: #dfdfdf;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    cursor: none!important;
  }
  
  @media screen and (max-width: 768px) {
   .flare {
      width: 0;
      height: 0;
      transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
  }
  
  .flare.pointer {
    opacity: 0!important;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  .flare.text-hover {
    transform: scale(2); /* increase size when hovering over text */
    transition: transform 0.2s ease-in-out;
    mix-blend-mode: difference;
  }
  .cursor-text {
    pointer-events: none;
  }
  .cursor-zoom {
    pointer-events: none;
  }
  .cursor-play {
    pointer-events: none;
  }